body {
    text-align:center;
}

a {
    color:#800000;
    text-decoration: none;
}
img {
    border: 0px;
}

a:hover {
    color: #C72121;
    text-decoration:underline;
}

body {
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
    padding:0px 4px;
}
h3 {
    font-size:10px;
    margin:0 0 5px 0;
}
h2 {
    font-size:12px;
    margin:0 0 5px 0;
    padding:5px 10px;
    margin:0;
    color:#fff;
}
a.powered {
    text-align:right;
    font-family:Arial, Helvetica, sans-serif;
    font-size:10px;
    display:block;
    padding:10px 35px 7px 0;
    margin:0 3px 3px 3px;
    background:url(wcclogo_tiny.gif) bottom right no-repeat;
}
